<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd
       http://www.springframework.org/schema/aop
       http://www.springframework.org/schema/aop/spring-aop.xsd
       "
        default-autowire="byName">

    <context:annotation-config></context:annotation-config>

    <!-- 扫描多个包的配置方式 -->
    <context:component-scan base-package="com.umbrella.demo.spring.service
        ,com.umbrella.demo.spring.task
        ,com.umbrella.helloidea.*"></context:component-scan>

    <!-- 如果要使用AOP注解，必须加上这句 -->
    <aop:aspectj-autoproxy proxy-target-class="true"></aop:aspectj-autoproxy>


</beans>