/.idea
/TestApp.iml
WebServiceInterface/WebServiceInterface.iml
WebServiceInterface/target/
appDemo/appDemo.iml
appDemo/target/
springweb/springweb.iml
web/web.iml
webservice-client/webservice-client.iml
webservice-server/webservice-server.iml