<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:jaxws="http://cxf.apache.org/jaxws"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://cxf.apache.org/jaxws
       http://cxf.apache.org/schemas/jaxws.xsd">
    <!-- server端 -->
    <import resource="classpath:META-INF/cxf/cxf.xml"></import>
    <import resource="classpath:META-INF/cxf/cxf-servlet.xml"></import>
    <!--
    <jaxws:endpoint id="helloWorld" implementor="com.umbrella.cxf.wserver.impl.HelloWorldServiceImpl" address="/helloWorld"></jaxws:endpoint>
    -->

    <!-- 另外一种写法 -->
    <bean id="helloWorldService" class="com.umbrella.cxf.ws.server.impl.HelloWorldServiceImpl"></bean>
    <jaxws:server id="helloWorldServer" serviceClass="com.umbrella.cxf.ws.server.HelloWorldService" address="/helloWorld">
        <jaxws:serviceBean>
            <ref bean="helloWorldService"></ref>
        </jaxws:serviceBean>
    </jaxws:server>

</beans>